@import url("main-style.css");
@import url("footer-style.css");
@import url("signin-style.css");

section
{
	width: 80%;
}

table
{
	width: 100%;
}

table a
{
	text-decoration: underline;
	color: black;
	text-align: left;
	font-size: 80%;
}

h1
{
	text-align: left;
}

input[type="text"],select
	{
		width: 300px;
		padding: 10px;
		border: 2px solid #ccc;
	}
input[type="submit"]
{
	width: 250px;
	height: 40px;
	background-color: black;
	color: white;
	border: solid 0px #000;
	padding-left: 15px;
	font-weight: bold;
}
input[type="submit"]:hover
{
	background-color: #202020;
}
